@using MvcProjectWmp101.Library

@{
    ViewBag.Title = "Index3";
}

<h2>Index3</h2>

<input type="text" value="" id="text1" name="text1" />

<br />
<input type="button" value="Buna Tıkla" id="btn01" name="btn01" />
<br />
<a href="/Razor/Index" type="button">Razor index</a>
<br />
<a href="/Home/Index" type="button" class="btn btn-success">Home index</a>
<br />

<hr />

@Html.ActionLink("Index sayfasina git", "Index", "Razor", new { @class = "btn btn-primary" })

@Html.Label("Adınız :")

@Html.TextBox("txtAd", "", new { placeholder = "Adınız" })

@Html.TextArea("txtArea", null, 5, 80, new { placeholder = "Özgeçmiş Bilgileriniz" })

<button id="" name="" type="" class="" style=''>Text</button>

@Html.Button("btn02", "button", "Helper Buton yaptım")

@Html.Button("btnRenkli", "button", "btn-danger", "Deneme")

@Html.Button("btn04", MyExtensions.ButtonType.button, "btn-warning", "İptal")

@Html.Button("btn05", MyExtensions.ButtonType.button, "btn-primary", "width:200px;", "TagHelper Butonu")

@Html.Paragraph("p01", 2, "dashed", "Bu bir htmlhelper ile hazırlanmış bir p tagı paragrafıdır.")

<p>
    lorem

</p>

@Html.Paragraph("p03", 3, "dashed",@<text><b>
        <strong>
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        </strong>
    </b></text>)