@model MvcProjectWmp101.Models.Addresses
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

@using (Html.BeginForm())
{
    <div class="input-group">
        @if (ViewBag.Result != null)
        {
            <div class="alert alert-@ViewBag.Status" role="alert">
                @ViewBag.Result
            </div>
        }
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text w-15" id="txtDescription">Description</span>
        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", placeholder = "Address Description", cols = "30", rows = "10" })
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text w-15" id="txtCity">City</span>
        @Html.TextBoxFor(x => x.City, new { @class = "form-control", placeholder = "City" })
    </div>

    //foreach (var item in (List<SelectListItem>)ViewBag.persons)
    //{
    //    if (item.Value==Model.Persons.Id.ToString())
    //    {
    //        item.Selected = true;
    //        break;
    //    }
    //}

    <div class="input-group mb-3">
        <span class="input-group-text w-15" id="txtPersons">Persons</span>
        @Html.DropDownListFor(x => x.Persons.Id, (List<SelectListItem>)ViewBag.persons, new { @class = "form-control", placeholder = "Persons" })
    </div>

    if (ViewBag.Result != null)
    {
        <div class="input-group mb-3">
            @Html.ActionLink("Back to the Index", "Index", "Ef", null, new { @class = "btn btn-primary" })
        </div>
    }

    else
    {
        <div class="input-group mb-3">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    }



}


